.header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px;
    background-color: white;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;  
    padding-left: 14%;
    padding-right: 14%;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__user {
    margin-right: 10px;
}

.app__signup {
    display: flex;
    flex-direction: column;
}

.imageupload__modal {
    width: 50%;
    margin: 0 auto;
    margin-top: 220px;
    outline: none;
}